/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. 
 * 
 * Copyright 2005-2012 Hillcrest Laboratories, Inc. All rights reserved. 
 * Hillcrest Labs, the Loop, Kylo, the Kylo logo and the Kylo cursor are 
 * trademarks of Hillcrest Laboratories, Inc.
 * */

#places-toolbar {
    height: 99px;
    font-size: 32px;
    text-shadow: 0 0 10px #000000;
}

#places-empty-message {
    height: 375px;
    font-size: 38px;
    margin: 18px;
}

#places-close-button {
    -moz-border-image: url("../../global/images/btn/button_red_off.png") 23 23 23 23 / 23px 23px 23px 23px;
}

#places-close-button:not([disabled=true]):hover {
    -moz-border-image: url("../../global/images/btn/button_red_over.png") 23 23 23 23 / 23px 23px 23px 23px;
}

#places-grid[state=select] placesgriditem[type=bookmark] .places-grid-item-titleBox {
	-moz-border-image: url("../common/images/thumbnail_border_edit.png") 15 15 15 15 / 15px 15px 15px 15px;
}

#places-grid[state=select] placesgriditem[type=bookmark]:hover .places-grid-item-titleBox {
    -moz-border-image: url("../common/images/thumbnail_border_edit_over.png") 15 15 15 15 / 15px 15px 15px 15px;
}

#places-grid[state=select] placesgriditem[type=folder] .places-grid-folder-container {
    -moz-border-image: url("images/folder_border_edit.png") 37 25 7 27 / 37px 25px 7px 27px;
}

#places-grid[state=select] placesgriditem[type=folder]:hover .places-grid-folder-container {
    -moz-border-image: url("images/folder_border_edit_over.png") 37 25 7 27 / 37px 25px 7px 27px;
}

#places-open-pages-list {
	min-width: 345px;
	-moz-border-image: url("../common/images/area_bg_light.png") 12 12 12 12 / 12px 12px 12px 12px;
}

#places-edit-ui > grid {
	-moz-border-image: url("../common/images/area_bg.png") 12 12 12 12 / 12px 12px 12px 12px;
}

#places-edit-ui > grid > rows > row {
	padding: 0 0 12px 0;
}

#places-edit-ui > grid > rows > row > label {
	min-width: 195px;
	padding: 15px;
}

#places-edit-ui > grid > rows > row > textbox {
    -moz-border-image: url("../common/images/area_bg.png") 12 12 12 12 / 12px 12px 12px 12px;
	font-size: 33px;
}




/**
 *     Overrides placesitem.css ----------------------------------------------------
 */

.places-grid-item-container {
    width: 270px;
    height: 165px;
    margin: 15px;
}

.places-grid-folder-container {
    width: 270px;
    height: 165px;
    margin: 15px;
    -moz-border-image: url("images/folder_border.png") 37 25 7 27 / 37px 25px 7px 27px;
}

.places-grid-folder-container:not([disabled=true]):hover {
    -moz-border-image: url("images/folder_border_over.png") 37 25 7 27 / 37px 25px 7px 27px;
}

.places-grid-upfolder-container {
    width: 270px;
    height: 165px;
    margin: 15px;
    background: url("images/upfolder_border.png");
}

.places-grid-upfolder-container:not([disabled=true]):hover {
    background: url("images/upfolder_border_over.png");
}

.places-grid-item-preview {
    width: 240px;
    height: 135px;
    margin: 15px;
}

.places-grid-item-titleBox {    
    width: 270px;
    height: 165px;
    -moz-border-image: url("../common/images/thumbnail_border.png") 15 15 15 15 / 15px 15px 15px 15px;
}

.places-grid-item-title {
    font-size: 32px;
    text-shadow: #000000 0 5px 0;
    height: 45px;
    padding: 0 5px;
}

.places-grid-folder-titleBox {    
    max-width: 218px;
    max-height: 120px;
}

.places-grid-folder-title { 
    font-size: 32px;
    text-shadow: #000000 0 0 5px, #000000 0 0 7px;
    padding: 15px 4px;
}
 
placesgriditem[selected] .places-grid-item-titleBox {
    -moz-border-image: url("../common/images/thumbnail_border_green.png") 15 15 15 15 / 15px 15px 15px 15px;
}

placesgriditem:not([disabled=true]):hover .places-grid-item-titleBox {
    -moz-border-image: url("../common/images/thumbnail_border_blue.png") 15 15 15 15 / 15px 15px 15px 15px;
}

places-snapshot[selected] .places-grid-item-titleBox {
    -moz-border-image: url("../common/images/thumbnail_border_green.png") 15 15 15 15 / 15px 15px 15px 15px;
}

places-snapshot:not([selected]):hover .places-grid-item-titleBox {
    -moz-border-image: url("../common/images/thumbnail_border_blue.png") 15 15 15 15 / 15px 15px 15px 15px;
}




/**
 *     Overrides placestree.css ------------------------------------------------------
 */
#places-fldr-tree {
  -moz-border-image: url("../common/images/area_bg.png") 12 12 12 12 / 12px 12px 12px 12px;
}

/* ::::: tree rows ::::: */
treechildren::-moz-tree-row {
    margin: 7px 0px;
    min-height: 90px;
}

/* ::::: tree images ::::: */
treechildren::-moz-tree-image {
    -moz-padding-end: 6px;
    height: 75px;
    width: 117px;   
    list-style-image: url("images/folder_icon.png");  
}

treechildren::-moz-tree-image(invalid-move-dest) {
    list-style-image: url("images/folder_icon_error.png"); 
}

/* ::::: tree cells ::::: */
treechildren::-moz-tree-cell-text {   
    font-size: 34px;
}

treechildren::-moz-tree-twisty(closed) {
    -moz-padding-end: 6px;
    width: 117px;
    height: 75px;
    list-style-image: url("images/folder_icon_plus.png");
}

treechildren::-moz-tree-twisty(open) {
    -moz-padding-end: 6px;
    width: 117px;   
    height: 75px;
    list-style-image: url("images/folder_icon_minus.png");
}

/* ::::: indents :::::: */
treechildren::-moz-tree-indentation {
  width: 75px;
}

/*
 * Fake style that holds special values for determining layout of the bookmarks grid
 */
span.places-grid-dimensions {
    width: 300px;
    margin-left: 32px;
    margin-right: 32px;
    
    display: none;
}

