/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. 
 * 
 * Copyright 2005-2012 Hillcrest Laboratories, Inc. All rights reserved. 
 * Hillcrest Labs, the Loop, Kylo, the Kylo logo and the Kylo cursor are 
 * trademarks of Hillcrest Laboratories, Inc.
 * */

.kb-textarea {
	-moz-border-image: url("images/text_field.png") 0 30 0 30 / 0px 30px 0px 30px;
	margin: 0 0 6px 0;
    font-size: 34px;
}

#popup_autocomplete {
	-moz-border-image: url("images/large_text_field.png") 18 18 18 18 / 18px 18px 18px 18px;
	margin: 10px 0 0 7px;
	height: 375px;
}

.autocomplete-box {
	margin: -15px 0;
}

autocompleteresult {
	-moz-border-image: url("../common/images/listitem_bg.png") 15 15 21 15 / 15px 15px 21px 15px;
    margin: 7px 6px 0px 4px;
}

autocompleteresult[type=auto_search] {
	-moz-border-image: url("../common/images/listitem_bg_selected.png") 15 15 21 15 / 15px 15px 21px 15px;
}

autocompleteresult:hover {
	-moz-border-image: url("../common/images/listitem_bg_over.png") 15 15 21 15 / 15px 15px 21px 15px;
}

.autocomplete-item-inner-container {
	margin: -6px 0;
	max-height: 99px;
	height: 99px;
}

.autocomplete-item-title {
	font-size: 34px;
	text-shadow: 0 0 10px #000000;
    margin: 0 7px;
}

.autocomplete-item-url {
	font-size: 32px;
    margin: 0 7px;
}

.autocomplete-item-image {
    background: url("../controls/images/favicon_bg.png") no-repeat bottom;
    max-width: 54px;
    max-height: 75px;
	width: 54px;
	height: 75px;
    padding: 23px 13px;
} 

autocompleteresult[type=auto_search] .autocomplete-item-image {
	background: url("../images/menu/menu_search.png") no-repeat top;
	max-width: 78px;
	max-height: 78px;
	width: 78px;
	height: 78px;
	margin: -6px 0;
}
