*.py[co]
*.log

xpidl_debug

/dist
/build
/xulrunner*
src/xulrunner*
src/components/*/build
src/components/*/*.xpt
src/components/*/I*.h
src/components/*/I*.rule
src/extensions/*/components/*/bin
src/extensions/*/components/*/build
src/extensions/*/components/*/*.xpt
src/extensions/*/components/*/I*.h
src/extensions/*/components/*/I*.rule
tools/build/win32/installer/redist
!tools/build/win32/installer/redist/MceAppHandler.exe