/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. 
 * 
 * Copyright 2005-2012 Hillcrest Laboratories, Inc. All rights reserved. 
 * Hillcrest Labs, the Loop, Kylo, the Kylo logo and the Kylo cursor are 
 * trademarks of Hillcrest Laboratories, Inc.
 * */

window,
html,
page,
panel {
    cursor: url("chrome://polo-contentaccessible/content/arrow-cursor.png"), auto !important;
}

panel {
	border: none;
	background: none;
}

#anchor-top {
  background: black;
}

#zoomVeil {
	cursor: url("./zoom_cursor.png"), move !important;
}

#panLeft {
    display: none;
}

#panRight {
    display: none;
}

#zoomSpacerRight {
	display: none;
}

#zoomWidget {
	-moz-box-align: center;
}

.zoomButton {
	-moz-appearance: none;
	-moz-border-image: none;	
    width: 100px;
    height: 100px;	
	min-width: 100px;
	min-height: 100px;    
    padding: 0;    
	margin: 0 50px 0 0;    
    cursor: url("chrome://polo-contentaccessible/content/arrow-cursor.png"), auto !important;
}

#zoomIn {
	margin-bottom: 20px;
    background: url("images/zoom/zoom_in.png") no-repeat;
}

#zoomIn:not([disabled=true]):hover {
    background: url("images/zoom/zoom_in_over.png") no-repeat;
}

#zoomIn[disabled=true] {
    background: url("images/zoom/zoom_in_disabled.png") no-repeat;
	opacity: 1;
}

#zoomReset {
    background: url("images/zoom/zoom_reset.png") no-repeat;	
}

#zoomReset:not([disabled=true]):hover {
    background: url("images/zoom/zoom_reset_over.png") no-repeat;
}

#zoomReset[disabled=true] {
    background: url("images/zoom/zoom_reset_disabled.png") no-repeat;
	opacity: 1;
}

#zoomOut {
	margin-bottom: 20px;
    background: url("images/zoom/zoom_out.png") no-repeat;	
}

#zoomOut:not([disabled=true]):hover {
    background: url("images/zoom/zoom_out_over.png") no-repeat;
}

#zoomOut[disabled=true] {
    background: url("images/zoom/zoom_out_disabled.png") no-repeat;
	opacity: 1;
}

#overscan-top:not([active=true]), .veiltrigger {
	opacity: 1;
}

#browserDeck {
    background-color: #000000;
}

#help-overlay {
    border-radius: 5px;
    background: rgba(24, 120, 178, 0.20);
    border: 3px solid #1878b2;
    padding: 5px;
}

/* --- special classes to hold dimension values. Allows themes to override programmatic layout in JS --- */
/* Snapshots (thumbnails) */
span.page-preview-dimensions {
    width: 160px;
    height: 90px;
    
    display: none;
}
